@import 'https://unpkg.com/sakura.css/css/sakura-vader.css';

footer {
  text-size: 0.5em;
  opacity: 0.3;
}

.title {
  text-align: center;
}

.blog-posts {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.blog-posts > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
